@page "/"

<h3>Velkommen til IBAS Supportsystem</h3>

<p>
    Denne webapp gør det nemt for IBAS at håndtere kundehenvendelser om cykler.  
    Du kan:
</p>

<ul>
    <li>📩 Oprette en ny supporthenvendelse</li>
    <li>🔍 Se alle eksisterende henvendelser</li>
</ul>

<p>
    Brug menuen ude til venstre for at komme i gang.
</p>